.media-heading{
  display: inline;  
}

.span{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs   
}

.zipp{
     padding-top: 20px;
}