<div class="container">
  <form [formGroup]="form" (ngSubmit)="changePwd()" >
    <div class="form-group">
      <label for="oldPwd">Old Password</label>         
      <input class="form-control" type="text" name="oldPwd"
       id="oldPwd" formControlName="oldPassword"
       required minlength="5">
       <!--{{form.controls.oldPassword.errors|json}}-->
      
      <div *ngIf="form.controls.oldPassword.pending">Checking ol Password ...</div>            

      <div *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors">
        <div class="alert alert-danger" *ngIf="form.controls.oldPassword.errors.required">
         Old Password is required
         </div>

         <div class="alert alert-danger" *ngIf="form.controls.oldPassword.errors.incorrect">
             Old Password is incorrect.
         </div>

       <div class="alert alert-danger" *ngIf="form.controls.oldPassword.errors.minlength">
         Old Password should atleast have {{form.controls.oldPassword.errors.minlength.requiredLength}} characters</div>
       </div>
    </div>
    <div class="form-group">
      <label for="newPwd">New Password</label>         
      <input class="form-control" type="text" name="newPwd" 
      id="newPwd" formControlName="newPassword"
       required minlength="5">
       
       <!--{{form.controls.newPassword.errors|json}}-->

           <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
                 <div class="alert alert-danger" *ngIf="form.controls.newPassword.errors.required">
                 New Password is required
                </div>
                 <div class="alert alert-danger" *ngIf="form.controls.newPassword.errors.minlength">
                    New Password should atleast have {{form.controls.newPassword.errors.minlength.requiredLength}} characters
                  </div>
                  <div class="alert alert-danger" *ngIf="form.controls.newPassword.errors.passwordMismatch">
                       New Passwords do not match
                 </div>
         </div>
    </div>
        
         
    <div class="form-group">
      <label for="reTypePwd">Retype New Password</label>         
      <input class="form-control" type="text" name="reTypePwd"
       id="reTypePwd"  formControlName="reTypePassword"
       required minlength="5"/>
               <div *ngIf="form.controls.reTypePassword.touched && form.controls.reTypePassword.errors">
                     <div class="alert alert-danger" *ngIf="form.controls.reTypePassword.errors.minlength">
                       Retype Password should atleast have {{form.controls.reTypePassword.errors.minlength.requiredLength}} characters
                    </div>
                      <div class="alert alert-danger" *ngIf="form.controls.reTypePassword.errors.passwordMismatch">
                       New Passwords do not match
                    </div>
              </div>
      
    </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>