

/*.custom_bullet li::after{
    content: "\e007";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}*/

/*.courses {
width:110px;
}*/

.nav-pills:hover{
    cursor: pointer;
 
}

.nav-pills{
      display: block;
}
.nav-pills li{
    background-color: dodgerblue;
  
}


.nav-pills li a{
    font-weight: bold;
    color: white;
}
.content{
    display: block;
}




