<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/courses" routerLinkActive="active">Courses</a>
  <a routerLink="/tweets" routerLinkActive="active">Tweets</a>
  <a routerLink="/authors" routerLinkActive="active">Authors</a>
  <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
  <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
  <a routerLink="/changePwd" routerLinkActive="active">Change Password</a>
  <a routerLink="/spotify" routerLinkActive="active">Spotify Artist</a>
  <a routerLink="/github" routerLinkActive="active">Github</a>
  </nav>
<router-outlet></router-outlet>

<!--<app-authors></app-authors>-->



<!--<app-heart></app-heart>-->
